@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700&display=swap');

#main {
    font-family: 'Roboto Flex', sans-serif;
}

#group {
    width: 100%;
}

.group__list {
    color: #000;
    list-style-type: none;
}

.group__list-item {
    height: 260px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.group__list .items__hover:hover .group__list-bg {
    transform: scale(1.1);
} 
.group__list .group__border {
    display: flex;
    /* transition: all linear 0.1s; */
}
.group__list .group__border:hover {
    border: solid #fff 7px;
    border-color: rgb(100, 199, 233);
}

.group__list-bg {
    width: 100%;
    height: 100%;
    border: 0px;
    position: absolute;
    z-index: 2;
    transition: all 0.5s 0s ease-in;
}

.group__list-Overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.4);
}

.group__list .items__hover:hover .group__list-Overlay{
    background-color: rgba(0, 0, 0, 0.2);
}

/* change */
.group__list-item img{
    height: 100px;
    /* min-width: 600px; */
    /* right: 200px; */
    right: 5%;
    bottom: 50%;
    position: absolute;
    z-index: 1;
    display: none;
}
.group__list-item:hover img{
    position: absolute;
    z-index: 3;
    display: block;
    transform: scale(2.5) translateY(25px);
}

.group__list-item a {
    text-decoration: none;
}

.group__list-item .group__items-textShow-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    z-index: 3;
    color: #fff;
    font-size: 36px;
}

.group__items-textShow-wrap .group__items-textShow {
    font-size: 36px;
    font-weight: 500;
}

.group__items-textShow-wrap .group__items-subtextShow {
    text-align: center;
    font-size: 24px;
    font-weight: 400;
}

.group__list-item:hover p::after{
    opacity: 1;
}

.group__list-item .group__items-textShow::after{
    content: "";
    width: 280px;
    height: 12px;
    opacity: 0;
    background: url("/genshin/assets/img/home__group-line.png") center/cover no-repeat;
    position: absolute;
    left: 50%;
    top: 120%;
    transform: translateX(-50%);
}

.reloadgroup p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    z-index: 3;
    color: #fff;
    line-height: 260px;
    text-align: center;
    /* color: #58595c; */
    color: rgba(255,255,255,0.3);
    font-weight: 500;
    font-size: 36px;
    user-select: none;
}

h1.dashboard {
    margin-bottom: 10px;
}