.content__listBtn .content__btnAdd {
    background-image: linear-gradient(#42A1EC, #0070C9);
    border: 1px solid #0077CC;
    border-radius: 4px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.2px;
    min-width: 30px;
    overflow: visible;
    padding: 6px 15px;
    text-align: center;
    user-select: none;
    white-space: nowrap;
    text-decoration: none;
}

.content__listBtn .content__btnExit {
    background-image: linear-gradient(#42A1EC, #0070C9);
    border: 1px solid #0077CC;
    border-radius: 4px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.2px;
    min-width: 30px;
    overflow: visible;
    padding: 6px 15px;
    text-align: center;
    user-select: none;
    white-space: nowrap;
    margin-left: 40px;
    text-decoration: none;
}

.content__btnExit a {
    text-decoration: none;
    color: #fff;
}

.content__listBtn .content__btnExit:hover , .content__listBtn .content__btnAdd:hover {
    background-image: linear-gradient(#51A9EE, #147BCD);
    border-color: #1482D0;
}

/* layout new :v */
.content__wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: solid 1px rgba(0,0,0,0.5);
    border-radius: 0.25rem;
    width: 60%;
}

.content__title {
    border-bottom: 1px solid rgba(0,0,0,.125);
    padding: 0.75rem 1.25rem;
    position: relative;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    background-color: #007bff;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}

.list__multiple {
    width: 100%;
    /* padding: 4px; */
}

.list__multiple option {
    padding: -4px;
    margin: 4px;
    margin-left: 10px;
}

/* head */
.header {
    height: 68px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    /* background-color: #fff; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 1px solid #ccc; */
    padding: 0 10%;
    border: unset;
}

li.nav-item {
    height: 100%;
}
a.header__logo.nav-link.active {
    padding: 0;
    background-color: unset;
}

.header__logo {
    width: fit-content;
    height: 100%;
}

.header__logo img {
    width: 100%;
    height: 100%;
}

.header__avtUser {
    width: auto;
    height: 100%;
}

.header__avtUser img {
    max-width: 100%;
    height: 100%;
}