.header {
    background-color: rgb(100, 199, 233);
    color: #fff;
}

.body__content.doExam {
    position: relative;
    transform: unset;
    top: unset;
    left: unset;
    width: 100%;
    padding: 0 10%;
    margin-top: 68px;
    margin-bottom: 40px;
}

h1.exam__title {
    padding-top: 15px;
}

/* button */
.content__listBtn .content__btnAdd {
    background-image: linear-gradient(#42A1EC, #0070C9);
    border: 1px solid #0077CC;
    border-radius: 4px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.2px;
    min-width: 30px;
    overflow: visible;
    padding: 6px 15px;
    text-align: center;
    user-select: none;
    white-space: nowrap;
    text-decoration: none;
}

.content__btnAdd:hover {
    background-image: linear-gradient(#51A9EE, #147BCD);
    border-color: #1482D0;
}

.content__btnExit:hover {
    background-image: linear-gradient(#51A9EE, #147BCD);
    border-color: #1482D0;
}

.content__listBtn .content__btnExit {
    background-image: linear-gradient(#42A1EC, #0070C9);
    border: 1px solid #0077CC;
    border-radius: 4px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.2px;
    min-width: 30px;
    overflow: visible;
    padding: 6px 15px;
    text-align: center;
    user-select: none;
    white-space: nowrap;
    margin-left: 40px;
    text-decoration: none;
}